.title-and-info {
  padding: 80px 0px 60px 0px;
}

.title-and-info h2 {
   min-width: 375px;
   margin-right: 125px;
}

@media screen and (max-width: 1100px) {
    .title-and-info .flex {
        flex-direction: column;
    }

    .title-and-info h2 {
        margin-right: 0px;
        margin-bottom: 20px;
        min-width: 0px;
    }
}

/* ------ Image Break ------ */

.image-break {
    padding: 60px 0px 80px 0px;
}

.image-container img {
    max-height: 600px;
    width: calc(100%);
    object-fit: cover;
}

.image-container {
    flex: 0 0 auto; /* Prevent the image from stretching */
}

@media screen and (max-width: 576px) {
    .image-container img {
        max-width: none;
        height: 400px;
    }
}

/* ------ /Image Break ------ */

/* ------ About Iboga Section ------ */

.about-iboga {
    margin-bottom: 72px;
}

.about-iboga-btn {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 24px;
}

.about-iboga h2 {
    max-width: 375px;
    margin-right: 125px;
}

@media screen and (max-width: 1100px) {
    .about-iboga .flex {
        flex-direction: column;
    }

    .about-iboga h2 {
        max-width: none;
        margin-right: 0px;
        margin-bottom: 20px;
    }

    .about-iboga .max-width {
        display: flex;
        flex-direction: column-reverse;
    }

    .about-iboga-btn {
        margin-bottom: 0px;
        margin-top: 24px;
    }
}

/* ------ /About Iboga Section ------ */


/* ------ Vision & Mission Section ------ */

.vision-mission-cards {
    margin-bottom: 80px;
}

.vision-mission-cards .flex {
    gap: 24px;
}

.vision-mission-card h4 {
    padding-bottom: 24px;
    border-bottom: 1px solid var(--black-bg);
    margin-bottom: 16px;
}

.card-paragraphs {
  padding-bottom: 20px;
}


@media screen and (max-width: 768px) {
    .vision-mission-cards .flex {
        flex-direction: column;
    }
}

/* ------ /Vision & Mission Section ------ */


/* ------ Applications Of Iboga ------ */

.application-of-iboga .section-container {
    padding: 80px 0px;
    background-color: var(--dark-green);
    margin-bottom: 40px;
}

.application-of-iboga .flex {
    align-items: center;
}

// .application-of-iboga .flex img {
//     margin-left: -64px;
// }

.application-of-iboga .section-inner {
    max-width: 580px;
    margin-left: 88px;
    margin-right: 64px;
}

.application-of-iboga .section-inner {
    color: var(--light-yellow);
}

.application-of-iboga .section-inner h2 {
    margin-bottom: 20px;
}

.application-of-iboga .section-inner p {
    margin-bottom: 36px;
}

@media screen and (max-width: 1360px) {
    .application-of-iboga .section-inner h2 {
        font-size: 48px;
    }
}

@media screen and (max-width: 1250px) {
    .application-of-iboga .flex img {
        max-width: 500px;
    }
}

@media screen and (max-width: 1100px) {
    .application-of-iboga .section-inner {
        margin-left: 48px;
    }
}

@media screen and (max-width: 992px) {
    .application-of-iboga .margin-left-width {
        margin-left: 0px;
    }

    .application-of-iboga .section-inner h2 {
        font-size: 36px;
    }
}

@media screen and (max-width: 950px) {
    .application-of-iboga .flex img {
        max-width: 400px;
    }
}

@media screen and (max-width: 855px) {
    .application-of-iboga .flex {
        flex-direction: column;
        align-items: flex-start;
    }

    .application-of-iboga .flex img {
        max-width: 100%;
        height: 400px;
        // object-fit: cover;
        // margin-bottom: 32px;
    }
    .application-of-iboga .flex img,
    .application-of-iboga .section-inner {
        margin-left: 16px;
    }

    .application-of-iboga .section-inner {
        max-width: none;
        margin-right: 16px;
    }

    .application-of-iboga .section-inner h2 br {
        display: none;
    }
}

@media screen and (max-width: 450px) {
    .application-of-iboga .flex img {
        margin-left: 0px;
    }
}

/* ------ /Applications Of Iboga ------ */


/* ------ Research and Media ------ */

.research-media-slider {
    padding: 80px 0px 60px 0px;
}

.research-media-slider .flex {
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 24px;
}

.slider-headline {
    max-width: 565px !important;
    margin-bottom: 40px;
}

@media screen and (max-width: 992px) {
    .slider-headline {
        margin-bottom: 0px;
    }
}

@media screen and (max-width: 850px) {
    .research-media-slider .flex {
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
    }

    .research-media-slider .flex .button-secondary {
        margin-left: calc(100% - 190px);
    }

    .slider-headline p {
        margin: 24px 0px;
    }
}

/* ------ /Research and Media ------ */


/* ------ Donate Section ------ */

.donate-section {
    padding: 60px 0px 60px 0px;
}

.donate-container {
    padding: 55px 48px;
    width: 100%;
  //  background: url(./images/section-images/donate-section-img.png) no-repeat;
    background-size: cover;
    object-fit: cover;
}

.donate-details {
    background-color: var(--med-green);
    max-width: 670px;
    padding: 58px 48px 64px 48px;
    color: var(--light-yellow);
}

.donate-details p {
    padding: 20px 0px 36px 0px;
}

.donate-buttons-container  {
    max-width: 400px;

}

.donate-buttons-container .button-secondary {
    width: calc(100% - 22px);
    justify-content: center;
    color: var(--white-bg);
    border-color: var(--white-bg);
    margin-bottom: 24px;
}

.donate-buttons-container .button-secondary:hover {
    border: var(--orange);
}

.donate-buttons-container .button-secondary i {
    background-color: var(--white-bg);
}

.donate-buttons-container form input {
    height: 60px;
    padding: 18px 12px;
    font-family: "Epilogue";
    margin-right: 24px;
}

.donate-buttons-container form input::placeholder {
    font-family: "Epilogue";
    font-size: 20px;
    font-weight: 500;
}

.donate-buttons-container  form button {
    border: none;
    font-size: 18px;
    font-weight: 500;
}

@media screen and (max-width: 576px) {
    .donate-section .margin-left-width {
        margin-left: 0px;
    }

    .donate-container {
        padding: 55px 16px;
    }

    .donate-buttons-container  form input {
        width: 49%;
        margin-right: 0px;
    }

    .donate-details {
        padding: 32px 16px 36px 16px;
    }


    .donate-buttons-container .button-secondary {
        width: 100%;
    }

    .donate-buttons-container  form button {
        width: 49%;
    }
}

/* ------ /Donate Section ------ */


/* ------ Share With Iboga CTA ------ */

.share-with-us-cta-section {
    padding: 60px 0px 60px 0px;
}

.share-with-us-cta-section .flex {
    gap: 24px;
}

.share-with-us-card h4 {
    padding-bottom: 24px;
    border-bottom: 1px solid var(--black-bg);
    margin-bottom: 16px;
}

.share-with-us-card p {
    margin-bottom: 24px;
}

@media screen and (max-width: 768px) {
    .share-with-us-cta-section .flex {
        flex-direction: column;
        gap: 48px;
    }
}

/* ------ /Share With Iboga CTA ------ */


/* ------ Contact Section ------ */

.contact-section {
padding: 60px 0px 150px 0px;
}

.contact-section .contact-section-flex {
    gap: 36px;
    align-items: flex-start;
}

.contact-section h2 {
    max-width: 475px;
    margin-bottom: 48px;
}

form label {
    font-family: "Epilogue";
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 10px;
}

form textarea:focus,
form input:focus {
    outline: none;
}

.contact-us-form {
    flex: 1;
}

.form-row {
    width: 100%;
    margin-bottom: 28px;
}

.contact-us-form .form-row:last-of-type {
    margin-bottom: 0px;
}

.contact-section .form-row button {
    font-size: 18px;
}

.contact-us-form .form-row .flex {
    gap: 20px;
}

.contact-us-form .form-row .flex .form-element {
    width: 100%;
}

.contact-us-form .form-row input {
    display: inline-flex;
    align-items: center;
    height: 50px;
    width: 100%;
    font-size: 20px;
    font-family: "Epilogue";
    padding: 0px 15px;
    border: 1px solid var(--black-bg);
}

.contact-us-form .form-row textarea {
    width: 100%;
    height: 150px;
    padding: 15px;
    font-size: 20px;
    font-family: "Epilogue";
    border: 1px solid var(--black-bg);
}

.news-letter-form {
    width: 456px;
}


/* --- CUSTOM DROPDOWN --- */

.dropdown-chosen-text {
    height: 50px;
    width: 100%;
    border: 1px solid var(--black-bg);
    font-size: 20px;
    font-family: "Epilogue";
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    cursor: pointer;
}

.custom-dropdown-row {
    margin-bottom: 10px;
}

.custom-dropdown {
    position: relative;

    height: auto;
}

.custom-dropdown ul {
    background-color: var(--med-green);
    // position: absolute;
    // width: 100%;
     display: none;
    // left: 0;
    // bottom: -195px;
    padding: 8px 24px;
    margin: 0;
}

.custom-dropdown ul.active {
    display: block;
}

.contact-us-form .form-row .dropdown-input {
    opacity: 0;
    height: 0px;
    pointer-events: none;
}

.custom-dropdown ul li {
    display: block;
    padding: 15px 0px;
    border-bottom: 2px solid var(--white-bg);
    color: var(--white-text);
    font-size: 18px;
    font-family: "Epilogue";
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.custom-dropdown ul li:hover {
    color: var(--light-yellow);
}

.custom-dropdown ul li:hover::before {
  //  content: url(./icons/svg//arrow-yellow.svg);
    margin-right: 8px;
}

.custom-dropdown ul li:last-of-type {
    border: none;
}

/* --- /CUSTOM DROPDOWN --- */

.news-letter-form {
    background-color: var(--light-green);
    padding: 20px;
    max-width: 456px;
}

.news-letter-form h4 {
    line-height: 150%;
    margin-bottom: 20px;
}

.news-letter-form .form-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 28px;
}

.news-letter-form .form-row:last-of-type {
    margin-bottom: 0px;
}

.news-letter-form .form-row input {
    height: 50px;
    border: none;
    background-color: var(--white-bg);
    font-size: 20px;
    font-family: "Epilogue";
    padding: 0px 15px;
}

input[type="checkbox"] {
  /* Add if not using autoprefixer */
  visibility: hidden;
  display: flex;
  align-items: center;
}

input[type="checkbox"]::before {
  content: "";
  height: 26px;
  width: 26px;
  border-radius: 4px;
  border: 1px solid var(--black-bg);
  position: absolute;
  left: -30px;
  visibility: visible;
}

input[type="checkbox"]:checked::before {
  content: url("data:image/svg+xml;utf8,<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M20 6L9 17L4 12' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>");
  padding-top: 3px;
  padding-left: 1px;
}

.custom-checkbox label {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin-left: 40px;
    cursor: pointer;
}

// .custom-checkbox label::before {
//     content: "";
//     height: 26px;
//     width: 26px;
//     border-radius: 4px;
//     border: 1px solid var(--black-bg);
//     position: absolute;
//     left: -40px;
// }
//
// .custom-checkbox label:checked::before {
//     content: url("data:image/svg+xml;utf8,<svg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M20 6L9 17L4 12' stroke='black' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>");
//     padding-top: 3px;
//     padding-left: 1px;
// }

.news-letter-form button {
    height: 60px;
    background-color: var(--black-bg);
    border: none;
    color: var(--white-text);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all .3s ease-in-out;
}

.news-letter-form button:hover {
    background-color: var(--orange);
}

.news-letter-form button i {
    background-color: var(--white-text
    );
    margin-left: 14px;
}

.news-letter-form button:hover i {
    animation: skip-slide 0.6s forwards;
}

@media screen and (max-width: 1100px) {
    .contact-section .contact-section-flex {
        flex-direction: column;
        gap: 48px;
    }

    .contact-us-form {
        width: 100%;
    }

    .news-letter-form {
        max-width: 100%;
        width: 100%;
    }

    .contact-section h2 {
        margin-bottom: 32px;
    }
}

/* ------ /Contact Section ------ */

/* ------ Our Team ------ */

.team-slider {
    padding: 80px 0px 60px 0px;
}

.team-slider .flex {
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 24px;
}

.team-member-box {
    color: var(--black-text);
}

.our-team-slider .card-holder {
    max-width: 644px;
}

.team-card-holder {
  margin-right: 24px;
}

.team-member-box {
    width: 644px;
    height: 413px;
    display: inline-flex;
    flex-direction: column;
    justify-content: flex-end;
    background: lightgray;
    padding: 32px 20px;
    cursor: pointer;
    position: relative;
}

.team-member-box .read-more-display {
    display: flex;
    align-items: center;
    position: absolute;
    top: 32px;
    right: 20px;
    opacity: 0;
    transition: all .2s ease-in-out;
}

.team-member-box:hover .read-more-display {
    opacity: 1;
}

.team-member-box .read-more-display p {
    font-size: 16px;
    margin-right: 20px;
    font-weight: 600;
}

.team-member-box .read-more-display .arrow-container {
    width: 50px;
    height: 50px;
    border-radius: 32px;
    border: 2px solid var(--black-bg);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transform: rotate(-45deg);
}

.team-member-box h3 {
    margin-bottom: 12px;
}

@media screen and (max-width: 1024px) {
    .team-member-box {
        width: 500px;
        height: 350px;
    }
}

@media screen and (max-width: 850px) {
    .team-slider .flex {
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
    }
}

@media screen and (max-width: 768px) {
    .team-member-box {
        width: 340px;
        height: 250px;
    }

    .team-member-box h3 {
        font-size: 28px;
    }
}

/* ------ /Our Team ------ */

/* ------ Our Team Pop-Up ------ */

.team-member-popup {
    background-color: rgba(000,000,000,0.20);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    /* align-items: center; */
    /* justify-content: center; */
    padding: 48px 0px;
    overflow-y: scroll;
    display: none;
}

.team-member-popup.open {
    display: block;
}

.team-member-content {
    background-color: var(--white-bg);
    padding: 24px;
}

.member-image-container {
    background: #B3B3B3;
    height: 400px;
    margin-bottom: 24px;
    padding: 20px 24px;
    position: relative;
}

.team-member-content p {
    margin-bottom: 20px;
    font-size: 16px;
}

.team-member-content p:last-of-type {
    margin-bottom: 0px;
}

.member-name {
    color: var(--white-text);
    font-weight: 500;
}

.team-member-popup .close-popup {
    position: absolute;
    right: 24px;
    top: 20px;
    cursor: pointer;
}

@media screen and (max-width: 576px) {
    .team-member-content p {
        text-align: start;
    }
}

/* ------ /Our Team Pop-Up ------ */

/* ------ Our Approach ------ */

.approach {
    margin: 60px 0px;
}

.approach h2 {
    margin-bottom: 64px;
}

.approach .flex {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
}

.approach-box {
    max-width: calc(50% - 24px);
}

.approach-box h3 {
    margin-bottom: 24px;
}

@media screen and (max-width: 992px) {
    .approach h2 {
        margin-bottom: 32px;
    }
}

@media screen and (max-width: 900px) {
    .approach-box {
        max-width: 100%;
    }

    .approach-box h3 {
        font-size: 24px;
    }
}

/* ------ /Our Approach ------ */

/* ------ Our Story ------ */

.our-story {
    margin-bottom: 120px;
}

.our-story .margin-left-width {
    background-color: #1D4127;
    color: var(--light-yellow);
    padding: 80px 0px 100px 80px;
}

.our-story h3 {
    font-weight: 500;
    margin-top: 38px;
    margin-bottom: 24px;
}

.our-story p {
    max-width: 1090px;
    margin-bottom: 20px;
}

.our-story-image {
    margin-top: 40px;
}

.our-story-image img {
    margin-left: -150px;
    width: 100%;
}

.story-content {
    margin-right: 64px;
}

@media screen and (max-width: 992px) {
    .our-story-image img {
        width: 115%;
    }

    .our-story .margin-left-width {
        padding: 36px 0px 36px 32px;
    }


    .story-content {
        margin-right: 32px;
    }

}

@media screen and (max-width: 576px) {
    .our-story-image img {
        width: 125%;
    }
}

/* ------ /Our Story ------ */

/* ------ horizontal-newsletter ------ */

.horizontal-newsletter {
    margin: 120px 0px 150px 0px;
}

.horizontal-newsletter .news-letter-form {
    display: flex;
    max-width: 100%;
    width: 100%;
    justify-content: space-between;
}

.newsletter-left-col {
    max-width: 558px;
    padding-right: 64px;
    margin-right: 64px;
    border-right: 2px solid var(--black-bg);
}

.newsletter-left-col p {
    text-align: start;
}

.newsletter-right-col {
    width: 100%;
}

@media screen and (max-width: 768px) {
    .newsletter-left-col {
        padding-right: 0px;
        margin-right: 0px;
        border: none;
        max-width: 100%;
        margin-bottom: 32px;
    }

    .horizontal-newsletter .news-letter-form {
        flex-direction: column;
    }
}

/* ------ /horizontal-newsletter ------ */

/* ========= MEDIA PAGE STYLES ========= */

/* ------ Page Banner ------ */

.page-banner {
    padding: 275px 0px 120px 0px;
    background: var(--dark-green);
    color: var(--light-yellow);
}

.page-banner h1 {
    margin-bottom: 16px;
}

.header-banner {
  padding: 275px 0px 120px 0px;
  color: var(--light-yellow);
}

/* ------ /Page Banner ------ */

.media-banner p {
    max-width: 565px;
}

.content-search input {
    height: 60px;
    width: 800px;
    display: inline-block;
    margin-top: 32px;
    background-color: rgba(255,255,255,0.25);
    color: var(--white-text);
    padding: 15px 24px;
    border: none;
    font-size: 20px;
}

.content-search input::placeholder {
    color: var(--white-text);
    font-family: "Epilogue";
}

.content-search button {
    border: none;
    background-color: var(--orange);
    border-radius: 100px;
    height: 60px;
    width: 60px;
    margin-left: 10px;
}

.media-grouping {
    margin-top: 80px;
}

.large-article {
    display: inline-block;
    color: var(--black-text);
}

.large-article img {
    max-width: 100%;
}

.large-article h3 {
    font-size: 40px;
    max-width: 800px;
    margin: 32px 0px 20px 0px;
}

.large-article p {
    margin-bottom: 36px;
}

.large-article:hover .article-button {
    background-color: var(--orange);
    transition: all .3s ease-in-out;
}

.large-article:hover .article-icon {
    transform: rotate(-45deg);
    transition: all .3s ease-in-out;
}

.media-grouping .side-media {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-left: 24px;
    min-width: 420px;
}

.media-grouping .article-video-card {
    height: auto;
}

.media-slider {
    padding-top: 120px;
}

.media-slider .slider-headline {
    max-width: none !important;
}

.media-slider .slider-headline p {
    max-width: 565px;
}

.media-slider .flex {
    justify-content: space-between;

    align-items: flex-end;
}

.media-slider .flex a {
    margin-bottom: 24px;
}

@media screen and (max-width: 992px) {
    .large-article h3 {
        font-size: 32px;
    }

    .media-grouping .side-media {
        min-width: 50%;
    }
}

@media screen and (max-width: 920px) {
    .content-search input {
        width: calc(100% - 100px);
    }
}

@media screen and (max-width: 800px) {
    .media-slider .flex {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media screen and (max-width: 768px) {
    .media-grouping .flex {
        flex-direction: column;
        gap: 24px;
    }

    .media-grouping .side-media {
        margin-left: 0px;
        min-width: 0px;
        flex-direction: row;
    }
}

@media screen and (max-width: 600px) {
    .media-grouping .side-media {
        flex-direction: column;
    }

    .media-grouping .side-media .article-card,.media-grouping .side-media .article-card-v2,.media-grouping .side-media .article-card-v3,.media-grouping .side-media .article-video-card,.media-grouping .side-media .article-audio-card {
        max-width: 100%;
    }

    .side-media .article-video-card img,
    .media-grouping .side-media .article-card img {
        width: 100%;
    }
}


/* ========= /MEDIA PAGE STYLES ========= */

/* ========= MEDIA GRID DETAIL ========= */

.media-grid-banner a {
    color: var(--light-yellow);
    font-family: "Epilogue";
    font-size: 20px;
    margin-bottom: 16px;
    display: inline-flex;
    align-items: center;
}

.media-grid-banner a img {
    margin-right: 16px;
}

.media-grid-banner p {
    max-width: 565px;
}

.grid-container {
    margin-top: 24px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    gap: 20px;
    justify-items: center;
}

.media-grouping-col {
    margin-top: 24px;
}

.media-grouping-col .flex {
    gap: 24px;
}

.media-grid-col-article {
    width: 50%;
    color: var(--black-text);
}

.media-grid-col-article img {
    max-width: 100%;
    margin-bottom: 32px;
}

.media-grid-col-article h4 {
    margin-bottom: 16px;
}

.media-grid-col-article h4, .media-grid-col-article p {
    margin-left: 16px;
    margin-right: 16px;
}

.media-grid-col-article p {
    margin-bottom: 20px;
}

.media-grid-col-article:hover .article-button {
    background-color: var(--orange);
}

.media-grid-col-article:hover .article-icon {
    transform: rotate(-45deg);
    transition: all .2s ease-in-out;
}

@media screen and (max-width: 770px) {
    .grid-container {
        margin-top: 24px;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        gap: 20px;
        justify-items: center;
    }
}

@media screen and (max-width: 800px) {
    .media-grouping-col .flex {
        flex-direction: column;
    }

    .media-grid-col-article {
        width: 100%;
    }

    .media-grid-col-article img {
        width: 100%;
    }
}

@media screen and (max-width: 695px) {
    .grid-container .card-holder {
        max-width: 100%;
    }

    .grid-container .article-card,.grid-container .article-card-v2,.grid-container .article-card-v3,.grid-container .article-video-card,.grid-container .article-audio-card {
        max-width: 100%;
    }

    .grid-container .article-card img {
        width: 100%;
    }
}

/* ========= /MEDIA GRID DETAIL ========= */


/* ========= MEDIA DETAIL ========= */

.article-headline {
    padding: 275px 0px 80px 0px;
}

.article-headline a {
    font-family: "Epilogue";
    color: var(--black-text);
    font-weight: 600;
    font-size: 20px;
    display: inline-flex;
    align-items: center;
}

.article-headline a img {
    margin-right: 10px
}

.article-headline h1 {
    max-width: 1120px;
    margin: 16px 0px;
}

.article-headline p {
    max-width: 800px;
    margin-bottom: 32px;
}

.article-headline .margin-left-width {
    // background: url(./images/article-placeholder-images/article-detail.png) no-repeat;
    background-size: cover;
    height: 530px;
}

.article-content p {
    max-width: 1080px;
    margin-bottom: 20px;
}

.article-content ul {
    margin: 42px 0px;
    margin-left: 50px;
}

.article-content ul li {
    font-family: "Epilogue";
    font-size: 20px;
    margin-bottom: 24px;
    position: relative;
    display: flex;
    align-items: center;
    line-height: 150%;
}

.article-content ul li::before {
    content: "";
    width: 32px;
    height: 2px;
    background-color: var(--black-bg);
    position: absolute;
    left: -50px;
}

.article-content ul li:last-child {
    margin-bottom: 0px;
}

.article-content .quote {
    margin: 22px 0px 42px 0px;
}

.article-content h3 {
    margin-bottom: 24px;
}

@media screen and (max-width: 1190px) {
    .article-headline {
        padding: 150px 0px 32px 0px;
    }
}

@media screen and (max-width: 992px) {
    .article-content ul li {
        font-size: 18px;
    }

    .article-headline .margin-left-width {
        height: 300px;
    }
}


/* ========= /MEDIA DETAIL ========= */

/* ========= EDUCATION MEDIA ========= */

.share-with-us-2 {
    margin-top: 80px;
}

.share-with-us-2 .left-col {

    width: 600px;
    padding: 60px 48px;
    background-size: cover;
    color: var(--white-text);
    display: flex;
    align-items: center;
    font-size: 56px;
    font-weight: bold;
    font-family: 'CabinetGrotesk-med';

}

.share-with-us-2 .right-col {
    flex: 1;
    padding: 45px 70px;
    background-color: var(--orange);
    color: var(--white-text);
}



.share-with-us-2 .share-with-us-buttons {
    margin-top: 36px;
    display: flex;
}

.share-with-us-2 .share-with-us-buttons a {
    color: var(--white-text);
    border-color: var(--white-bg);
}

.share-with-us-2 .share-with-us-buttons a img {
}

.share-with-us-2 .share-with-us-buttons a:first-child {
    margin-right: 24px;
}

@media screen and (max-width: 1400px) {

    .share-with-us-2 .share-with-us-buttons a:first-child {
        margin-bottom: 24px;
    }
}

@media screen and (max-width: 1190px) {
    .share-with-us-2 .left-col {
        width: 500px;
        padding: 60px 32px;
    }

    .share-with-us-2 .right-col {
        padding: 45px 32px;
    }

    .share-with-us-2 .left-col h2 {
        font-size: 48px;
    }
}

@media screen and (max-width: 1100px) {
    .share-with-us-2 .flex {
        flex-direction: column;
    }

    .share-with-us-2 .left-col {
        width: 100%;
    }

    .share-with-us-2 .right-col p {
        max-width: 600px;
    }
}

@media screen and (max-width: 992px) {
    .share-with-us-2 .left-col h2 {
        font-size: 36px;
    }
}

@media screen and (max-width: 480px) {
    .share-with-us-2 .right-col {
        padding: 32px 16px;
    }
}

/* ========= /EDUCATION MEDIA ========= */

/* ========= CONTACT PAGE ========= */

.contact-banner {
    color: var(--white-text);
}

.contact-banner p {
    max-width: 530px;
}

.contact-page-h2 {
    margin-right: 88px;
}

@media screen and (max-width: 992px) {
    .contact-page-form-container h2,
    .contact-page-h2 {
        margin: 0px !important;
    }
}

/* ========= /CONTACT PAGE ========= */
/* ========= DIRECTORY APPLICATION ========= */

.directory-application p,
.directory-application h1 {
    max-width: 750px;
}

.directory-application-flex {
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.tracker-numbers,
.tracker-numbers span {
    font-family: "CabinetGrotesk-med";
    font-size: 72px;
}

.tracker-numbers {
    margin-bottom: 16px;
}

.directory-application-container {
    margin-top: 92px;
}

.form-section .form-button-row {
    display: flex;
    justify-content: space-between;
}

.form-section .form-button-row .button-primary {
    background-color: var(--orange);
    border: none;
}

.form-section .form-button-row .button-secondary i {
    transform: rotate(180deg);
    margin-right: 14px;
}

@media screen and (max-width: 1250px) {
    .directory-application-flex {
        flex-direction: column;
    }

    .form-tracker {
        margin-bottom: 36px;
    }

    .tracker-numbers {
        margin-bottom: 4px;
        font-size: 48px;
    }
}

/* ========= /DIRECTORY APPLICATION ========= */


/* ========= JOURNAL SUBMISSION ========= */

.journal-submission-banner {
    margin-bottom: 80px;
}

.journal-submission-banner {
    margin-bottom: 80px;
}

.journal-submission-banner p,
.journal-submission-banner h1 {
    max-width: 944px;
}

.upload-button {
    display: inline-block;
    position: relative;
  }

#upload-input {
    display: none;
}

form .button-secondary.upload-input-label {
    font-size: 18px !important;
    width: 100%;
    display: inline-flex;
    justify-content: center;
}

.keywords-input-container {
    position: relative;
}

.form-section .form-row input, .contact-us-form .form-row .keywords-list-input {

}

.add-keyword {
    font-family: "Epilogue";
    height: 50px;
    background-color: var(--black-bg);
    display: inline-flex;
    color: var(--white-text);
    justify-content: center;
    align-items: center;
    padding: 14px 32px 14px 24px;
    gap: 14px;
    position: absolute;
    right: 0;
    cursor: pointer;
}

.add-keyword i {
    background-color: var(--white-text
    );
}

.keywords-list {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 8px;
}

.keywords-list li {
    font-family: "Epilogue";
    display: inline-flex;
    align-items: center;
    gap: 5px;
}

.form-section .form-row .keywords-list li button {
    background-color: var(--orange);
    border: none;
    font-family: "Epilogue";
    color: var(--white-bg);
    font-size: 30px;
    padding: 6px;
    height: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 32px;

}

/* ========= /JOURNAL SUBMISSION ========= */


/* ========= CONFERENCE SUBMISSION ========= */

.conference-submission-banner {
    margin-bottom: 80px;
}

.conference-submission p,
.conference-submission h1 {
    max-width: 944px;
}

.conference-form-section .form-section {
    width: 820px;
}

.optional-text {
    opacity: 50%;
}

.form-section .form-row input, .contact-us-form .form-row input.date-picker {
    display: block;
}

@media screen and (max-width: 460px) {
    .conference-submission-banner h1 br {
        display: none;
    }

}


@media screen and (max-width: 576px) {
    .form-section .form-row .flex, .contact-us-form .form-row .flex {
        flex-direction: column;
    }
}

/* ========= /CONFERENCE SUBMISSION ========= */


/* ========= DIRECTORY ========= */

.directory-banner {
  //  background: url(../assets/images/banners-images/directory-banner.png) no-repeatcenter/cover;
    color: var(--white-text);
}

.directory-banner.coming-soon {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 200px 0px;
}

@media screen and (max-width: 992px) {

    .directory-banner.coming-soon h1 {
        font-size: 64px;
        text-align: center;
    }


    .directory-banner.coming-soon h3 {
        text-align: center;
    }
}

@media screen and (max-width: 920px) {
    .directory-banner.coming-soon .content-search input {
        width: 500px;
    }
}


@media screen and (max-width: 620px) {

    .directory-banner.coming-soon h1 {
        font-size: 48px;
    }


    .directory-banner.coming-soon h3 {
        font-size: 28px;
    }

    .directory-banner.coming-soon .content-search input {
        width: 300px;
    }
}


@media screen and (max-width: 410px) {

    .directory-banner.coming-soon h1 {
        font-size: 48px;
    }


    .directory-banner.coming-soon h3 {
        font-size: 26px;
    }

    .directory-banner.coming-soon .content-search input {
        width: 250px;
    }
}


.directory-banner.coming-soon .flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.directory-banner p,
.directory-banner h1 {
    max-width: 735px;
}

.directory-actions {
    margin-top: 32px;
}

.directory-actions .flex {
    align-items: center;
}

.directory-actions .content-search input {
    margin: 0px;
}

.directory-actions .button-primary {
    margin-right: 32px;
    background-color: var(--orange);
}

.ceremonial-practitioner-card,
.teacher-card {
    font-family: "Epilogue";
}

.ceremonial-practitioner-card .profile-card-banner,
.teacher-card .profile-card-banner {
    position: relative;
    margin-bottom: 20px;
}

.ceremonial-practitioner-card .profile-name,
.teacher-card .profile-name {
    position: absolute;
    left: 16px;
    bottom: 16px;
    z-index: 3;
    font-size: 24px;
    font-weight: 600;
}

.ceremonial-practitioner-card .flex,
.teacher-card .flex {
    justify-content: flex-start;
    gap: 24px;
}

.ceremonial-practitioner-card h5,
.teacher-card h5 {
    margin-bottom: 16px;
}

.ceremonial-practitioner-card ul,
.teacher-card ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-bottom: 16px;
}

.ceremonial-practitioner-card ul li,
.teacher-card ul li {
    display: inline-block;
    padding: 8px;
    border-radius: 4px;
    background-color: rgba(51,131,75,0.30);
}

.ceremonial-practitioner-card .approach-excerpt,
.teacher-card .approach-excerpt {
    margin-bottom: 24px;
    font-size: 16px;
}

.organisations-card {
    font-family: "Epilogue";
}

.organisations-card .organisation-logo {
    margin-bottom: 32px;
}

.organisations-card .organisation-logo img {
    max-height: 420px;
}

.established-date,
.organisation-location {
    margin-bottom: 16px;
}

.organisations-card h5 {
    margin-bottom: 12px;
}

.organisations-card ul {
    margin-left: 32px;
}

.organisations-card ul li {
    margin-bottom: 12px;
    position: relative;

}

.organisations-card ul li::before {
    content: "";
    height: 2px;
    width: 20px;
    background-color: var(--black-text);
    position: absolute;
    left: -32px;
    top: 35%;
}

.organisations-card .approach-excerpt {
    font-size: 16px;
    margin-bottom: 24px;
}

.modal-disclaimer {
    position: fixed;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    background: rgba(000,000,000,0.50);
}

.modal-disclaimer .modal-contents {
    max-width: 750px;
    background-color: var(--orange);
    padding: 32px 36px;
}

.modal-disclaimer .modal-contents h5 {
    font-family: "Epilogue";
    font-weight: 600;
    margin-bottom: 16px;
}

.modal-disclaimer .modal-contents p {
    margin-bottom: 20px;
}

@media screen and (max-width: 640px) {
    .directory-actions .flex {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 16px;
    }
}

/* ========= /DIRECTORY ========= */


/* ========= DIRECTORY DETAIL ========= */

.directory-detail-banner {
    //background: url(../assets/images/banners-images/directory-detail-banner.png) no-repeat center/cover;
    color: var(--white-text);
}

.directory-detail-banner p,
.directory-detail-banner h1 {
    max-width: 800px;
}

/* ========= /DIRECTORY DETAIL ========= */


/* ========= PRACTITIONER ========= */

.practitioner-profile-banner h1 {
    font-size: 64px;
}

.practitioner-profile-banner p {
    margin-bottom: 24px;
}

.practitioner-profile-banner .practitioner-title {
    margin-bottom: 16px;
}

.practitioner-profile-banner h5 {
    margin-bottom: 16px;
}

.practitioner-details {
    margin-left: 60px;
}

.practitioner-profile-banner li {
    margin-bottom: 20px;
    font-family: "Epilogue";
}

.practitioner-profile-banner li a {
    color: var(--light-yellow);
}

.practitioner-profile-banner .flex img {
    width: 50%;
    object-fit: cover;
}

.practioner-service-tags {
    display: flex;
    gap: 16px;
}

.practioner-service-tags li {
    background-color: rgba(255,255,255,0.25);
    display: inline-block;
    padding: 8.5px 11px;
    border-radius: 4px;
}

.practitioner-info {
    padding-top: 120px;
}

.practitioner-info h2 {
    margin-bottom: 48px;
}

.practitioner-info h4 {
    margin-bottom: 24px;
}

.practitioner-info div {
    margin-bottom: 48px;
}

.testimonial-slider .card-holder {
    max-width: 644px;
}

.testimonial-card {
    padding: 28px 24px;
    background-color: var(--med-green);
    color: var(--light-yellow);
    height: 345px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
}

.testimonial-card .testimonial-author {
    display: flex;
    justify-content: flex-end;
    margin-top: 24px;
}

@media screen and (max-width: 900px) {
    .practitioner-profile-banner .flex {
        flex-direction: column;
        align-items: center;
    }

    .practitioner-profile-banner .flex img {
        width: 100%;
        margin-bottom: 48px;
    }

    .practitioner-details {
        margin-left: 0px;
    }
}

@media screen and (max-width: 768px) {
    .testimonial-card {

        max-width: 340px;
        height: auto;
    }
}

@media screen and (max-width: 400px) {
    .testimonial-card {

        max-width: 300px;
        height: auto;
    }
}

/* ========= /PRACTITIONER ========= */
/* ========= DONATE ========= */

.donate-page-banner {
    margin-bottom: 80px;
}

.donate-page-banner p,
.donate-page-banner h1 {
    max-width: 890px;
}

.donate-page-banner p {
    margin-bottom: 24px;
}

.text-block p strong {
    display: inline-block;
    margin-bottom: 24px;
}

.text-block .disclaimer p strong {
    margin-bottom: 0px;
}

.support-us-block {
    background-color: rgba(51,131,75,0.30);
    padding: 36px;
}

.support-us-block div {
    margin-bottom: 36px;
}

.support-rows {
    flex-direction: column;
    gap: 48px;
}

.support-us-block-action {
    margin-left: 48px;
}

.support-us-block-action .donate-buttons-container {
    margin-top: 24px;
}

.support-w-socials .flex {
    margin-top: 24px;
}

.support-w-socials a {
    display: flex;
    margin-right: 24px;
}

.support-w-socials a i {
    background-color: var(--light-yellow
    );
}

.support-us-block-action .donate-buttons-container .button-primary {
    background-color: var(--orange);
    border-color: var(--orange);
}

.disclaimer-card .d-card-contents {
    color: var(--white-text);
    padding: 40px;
    background-color: var(--orange);
}

.disclaimer-card .d-card-contents h2 {
    margin-bottom: 20px;
}

.donate-page-cta-form {
    background-color: var(--med-green);
    padding: 32px;
    max-width: 460px;
    color: var(--light-yellow);
    margin-top: 26px;
}

.donate-page-cta-form h4 {
    margin-bottom: 24px;
}

.donate-page-cta-form .donate-btn input {
    width: 230px;
    height: 60px;
    border: none;
    font-family: "Epilogue";
    font-size: 24px;
}

.donate-page-cta-form .donate-btn button {
    border: none;
}

.donate-page-cta-form .donate-buttons-container {
    margin-top: 40px;
}

.donate-page-cta-form .donate-buttons-container .form-row {
    margin: 0px;
    width: 100%;
}

.donate-page-cta-form .donate-buttons-container a.button-secondary {
    width: 100%;
    margin: 0px 0px 24px 0px;
}

/* ========= /DONATE ========= */
