@keyframes skip-slide {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(5px); /* Adjust the skip distance as needed */
    }
    100% {
        transform: translateX(0);
    }
}

.slider-progress-tracker-container {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 40px;
}

.slider-controls {
    display: inline-flex;
    align-items: center;
}

.slider-controls button {
    display: inline-flex;
    background-color: transparent;
    border: none;
}

.slider-controls button .slider-back {
    transform: rotate(180deg);
    margin-top: 1px;
    margin-right: 16px;
}

.slider-progress-tracker {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: var(--black-bg);
    margin-left: 40px;
}

.slider-progress-thumb {
    position: absolute;
    height: 10px;
    width: 60px;
    background-color: var(--black-bg);
    top: -4px;
    transition: all .3s ease-in-out;
}

/* ------ Directory Slider ------ */

.directory-homepage-slider {
    padding: 60px 0px 60px 0px;
}

.directory-homepage-slider .max-width {
    display: flex;
    justify-content: flex-end;
}

.card-holder {
    max-width: 420px;
    margin-right: 24px;
}

.card-holder .thumbnail {
  width: 421px;
  height: 250px;
}

/* --- ARTICLE CARD --- */

.article-slider {
    align-items: flex-start;
    margin-top: 24px;
}

.article-card {
    max-width: 420px;
    height: 490px;
    color: var(--black-text);
}

.article-card-inner {
    padding: 16px 16px 26px 16px;
}

.article-card h4 {
    padding-bottom: 16px;
}

.article-card img {
    max-width: 100%;
}

/* --- /ARTICLE CARD --- */

/* --- ARTICLE CARD V2 --- */

.article-card-v2 {
    max-width: 420px;
    height: 490px;
    background-color: var(--med-green);
    color: var(--light-yellow);
    padding: 24px 16px 10px 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article-card-v2 h4 {
    margin-bottom: 20px;
    font-weight: 500;
}

.article-card-v2 .article-card-inner {
    padding: 0px;
}

.article-card-v2 .article-icon {
    border-color: var(--white-text);
}

.article-card-v2 .article-icon i {
    background-color: var(--white-text) !important;
}

/* --- /ARTICLE CARD V2 --- */


/* --- ARTICLE CARD V3 --- */

.article-card-v3 {
    max-width: 420px;
    height: 490px;
    background-color: var(--light-green);
    color: var(--black-text);
}

.article-card-v3 h4 {
    margin-bottom: 20px;
}

.article-card-v3 p {
    margin-bottom: 34px;
}

.multi-link-box {
    padding: 0px 12px;
    background-color: rgba(000,000,000,0.25);
}

.multi-link-box li {
    padding: 23px 0px;
    border-bottom: 1px solid var(--black-bg);
}

.multi-link-box li:last-child {
    border: none;
}

.multi-link-box li a {
    color: #000;
    font-family: "Epilogue";
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    transition: all .3s ease-in-out;
}

.multi-link-box li a:hover {
    color: var(--light-yellow);
}

.multi-link-box li a i {
    background-color: #000;
    transition: all .3s ease-in-out;
}

.multi-link-box li a:hover i {
    background-color: var(--light-yellow);
    animation: skip-slide 0.6s forwards;
}

/* --- /ARTICLE CARD V3 --- */


/* --- ARTICLE VIDEO CARD --- */

.article-video-card {
    max-width: 420px;
    height: 490px;
    color: var(--black-text);
}

.article-video-card .thumbnail {
    position: relative;
}

.thumb-icon {
    width: 80px;
    height: 80px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black-bg);
    border-radius: 100px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 3px;
    transition: all .3s ease-in-out;
}

.thumb-icon i {
    background-color: var(--white-bg);
}

.article-video-card h5 {
    padding-bottom: 16px;
}

.article-video-card img i {
    background-color: #000;
}

.article-video-card:hover .thumb-icon {
    background-color: var(--orange);
}

.article-video-card img {
    max-width: 100%;
}

/* --- /ARTICLE VIDEO CARD --- */


/* --- ARTICLE PODCAST CARD --- */

.article-audio-card {
    background-color: var(--light-green);
    max-width: 420px;
    padding: 17px
}

.article-audio-card button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.audio-progress-tracker {
    width: 100%;
    height: 7px;
    background-color: rgba(000,000,000,0.20);
}

.article-audio {
    background-color: rgba(000,000,000,0.25);
    padding: 15px 8px 36px 8px;
}

.article-audio .playtime {
    display: flex;
    align-items: center;
}

.audio-progress-tracker {
    margin: 0px 10px 2px 10px;
}

.audio-progress {
    height: 7px;
    background-color: var(--black-bg);
    width: 0%;
}


.article-audio .playtime p {
    display: inline;
    font-family: "CabinetGrotesk-bold";
    font-size: 12px;
}

.audio-controls {
    display: flex;
    justify-content: space-between;
    padding-top: 17px;
}

.audio-controls i {
    background-color: var(--black-bg) !important;
    display: inline-block;
}


.play-audio-btn {
    height: 80px;
    width: 80px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--black-bg);
    border-radius: 100px;
}

.play-audio-btn:hover {
    transition: all .3s ease-in-out;
    background-color: var(--orange);
}


.audio-controls i.play-icon {
    background-color: var(--white-bg) !important;
}

.article-audio-card h5 {
    padding: 26px 0px 17px 0px;
}

.article-audio-card .podcast-link {
    height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--black-bg);
    font-family: "Epilogue";
    color: var(--white-text);
    transition: all .3s ease-in-out;
}

.article-audio-card .podcast-link:hover {
    background-color: var(--orange);
}

/* --- /ARTICLE PODCAST CARD --- */

@media screen and (max-width: 760px) {
    .article-card,
    .article-card-v2,
    .article-card-v3,
    .article-video-card,
    .article-audio-card {
        max-width: 320px;
        height: auto;
    }

    .card-holder {
        max-width: 320px;
        margin-right: 16px;
    }

    .card-holder .thumbnail {
      width: 332px;
      height: 250px;
    }
}

/* ------ /Directory Slider ------ */
